<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Questioner - Contact Us</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
    	<div class="row">
			<div class="logo">
			<img src="../static/logo.png">
			</div>
			<ul class="main-nav">
				<li><a href="../index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li class="active"><a href="contactus.html">Contact</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="FAQs.html">FAQs</a></li>
			</ul>
			
		</div>
		<h2>Contact Us</h2>
		<p>We would love to help you</p>

		<p>Address: Questioner Group, 4th Street, Nairobi, Kenya</p>

		<p>Phone: +254 00000000</p>

		<p>email: info@questioner.co.ke</p>




	</div>
    <div class="container1">
      <div class="footer">
  		&copy; Copyright 2019 Questioner.org
	</div>
	</div>
</body>
</html>