<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Questioner - My Meetups</title>
	<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.btn {
  background-color: red;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: darkorange;
}
</style>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
    <div class="container">
		<div class="row">
			<div class="logo">
			<img src="../static/logo.png">
			</div>
			<ul class="main-nav">
				<li><a href="../index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contactus.html">Contact</a></li>
				<li><a href="news.html">News</a></li>
				<li><a href="FAQs.html">FAQs</a></li>
			</ul>
		</div>
	</div>
		<div class="container2">

		<h1>My Meetups</h1>
		<div class="rw">
  <div class="column">
    <div class="content">
      <img src="../static/mountains.jpg" alt="Mountains" style="width:100%">
      <h3><a href="#">Meetup 1</a></h3>
      <a href="#">Description; a brief paragraph introducing meetup 1, what it is all about.</a>
      <br>
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../static/lights.jpg" alt="Lights" style="width:100%">
      <h3><a href="#">Meetup 2</a></h3>
      <a href="#">Description; a brief paragraph introducing Meetup 2, what it is all about.</a>
      <br>
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../static/nature.jpg" alt="Nature" style="width:100%">
      <h3><a href="#">Meetup 3</a></h3>
      <a href="#">Description; a brief paragraph introducing Meetup 3, what it is all about. </a>
      <br>
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="column">
    <div class="content">
    <img src="../static/mountains.jpg" alt="Mountains" style="width:100%">
      <h3><a href="#">Meetup 4</a></h3>
      <a href="#">Description; a brief paragraph introducing Meetup 4, what it is all about.</a>
      <br>
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="column">
  <div class="content">
  <img src="../static/p3.jpg" alt="Bear" style="width:100%">
  <h3><a href="#">Meetup 5</a></h3>
  <a href="#">Description; a brief paragraph introducing Meetup 5, what it is all about.</a>
  <br>
      <button class="btn"><i class="fa fa-trash"></i> Delete</button>
</div>
</div>
</div>
		
	<div class="footer">
  	&copy; Copyright 2019 Questioner.org
	</div>

</div>
<body>
</body>

</html>