<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Questioner - Questions</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <style>
  ol
{
padding: 5%;
margin: 0;
text-align: left;
}
  </style>

</head>
    <div class="container">
    <div class="row">
      <div class="logo">
      <img src="../static/logo.png">
      </div>
      <ul class="main-nav">
        <li><a href="../index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contactus.html">Contact</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="FAQs.html">FAQs</a></li>
      </ul>
    </div>
  </div>
    <div class="container2">

    <h1>Questions</h1>

    <p>Questions I have asked</p>
    <ol>
      <li>This is the first question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
      <li>This is another question I have asked</li>
    </ol>

<br>
<hr>
    
    <p>Questions I have commented on</p>

    <ol>
      <li>This is the first question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>
      <li>This is another question I have commented on</li>

      
    </ol>

<br>
<hr>

    <p>Top Questions</p>

    <ol>
      <li>This is the question with the highest up votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
      <li>This is the question that follows in the number of votes</li>
    </ol>


    
  <div class="footer">
    &copy; Copyright 2019 Questioner.org
  </div>

</div>
<body>
</body>

</html>